body {
  background-color: black;
  color: white;
  font-family: 'Inconsolata', monospace !important;
}

.navbar {
  float: right;
  display: block;
  text-align: center;
  padding: 1rem;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}